.intro-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro-header {
    display: block;
  }
}

.navbar-header {
  min-height: 125px;
}

.container {
  margin-top: 130px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: initial;
  }
}

#bs-example-navbar-collapse-1 > ul > li > a {
  color: #666 !important;
}

.caption > .description {
  max-height: 100px;
  overflow: hidden;
}

#page-header {
  background-image: url("/img/bg.jpg");
}

#page-header .page-heading {
  color: #666;
}

#page-header .page-heading hr {
  border-color: #666;
}

#page-header .page-heading h1 {
  font-size: 70px;
}

.col-sm-6 a:hover,
.col-sm-6 a:focus,
.col-sm-4 a:hover,
.col-sm-4 a:focus {
  text-decoration: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.form-group {
  position: relative;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#map,
#panorama {
  height: 300px;
  background: #6699cc;
}