
.caption > .description {
	max-height:100px;
	overflow:hidden;
}


#page-header {
	background-image: url('/img/bg.jpg');
	.page-heading {
		color: #666;
		hr {
			border-color: #666;
			}
	}
}
.col-sm-6, .col-sm-4 {
	a:hover {
		text-decoration: none;
	}
}

