.intro-header {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
	}
}

.navbar-header {
	min-height: 125px;
	// background-image: url('/img/novagodina2016.jpg');
	// background-position: center;
	// background-size: contain;
	// background-repeat: no-repeat;
	@media screen and (min-width: 768px) {
		background-image: none;
	}
}

#navigation > div > div.navbar-header.page-scroll > a > img {
	width: 40%;
	@media screen and (min-width: 500px) {
		width: 60%;
	}
	@media screen and (min-width: 610px) {
		width: 80%;
	}
	@media screen and (min-width: 768px) {
		width: 100%;
	}
}

.container {
	margin-top:130px;
	@media screen and (min-width: 768px) {
		margin-top:initial;
	}
}

#bs-example-navbar-collapse-1 > ul > li > a {
	color: #666 !important;
}
